Download and Load Netflix Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ViewingActivity.csv')

In [3]:
df.shape

(7381, 10)

In [4]:
df.head()

,Profile Name,Start Time,Duration,Attributes,Title,Supplemental Video Type,Device Type,Bookmark,Latest Bookmark,Country
0,Marta,2021-06-19 10:11:11,00:14:52,Autoplayed: user action: User_Interaction;,Park Jurajski: Obóz Kredowy: Sezon 2: Sztuka r...,NaN,Samsung CE 2020 Nike-L UHD TV (2G) Smart TV,00:23:59,00:23:59,PL (Poland)
1,Marta,2021-06-19 09:58:20,00:12:06,NaN,Alvinnn!!! I wiewiórki: Sezon 1: Ciasto / Kto ...,NaN,Samsung CE 2020 Nike-L UHD TV (2G) Smart TV,00:22:35,00:22:35,PL (Poland)
2,Marta,2021-06-19 09:48:32,00:08:27,NaN,Alvinnn!!! I wiewiórki: Sezon 2: Szalony weeke...,NaN,Samsung CE 2020 Nike-L UHD TV (2G) Smart TV,00:22:36,00:22:36,PL (Poland)
3,Marta,2021-06-19 09:19:38,00:26:54,NaN,Nasza planeta: Sezon 1: Dżungle (Odcinek 3),NaN,Samsung CE 2020 Nike-L UHD TV (2G) Smart TV,00:49:56,00:49:56,PL (Poland)
4,Marta,2021-06-18 21:16:25,00:21:07,NaN,Park Jurajski: Obóz Kredowy: Sezon 2: Nadajnik...,NaN,Samsung CE 2020 Nike-L UHD TV (2G) Smart TV,00:21:52,00:21:52,PL (Poland)

In [5]:
df = df.drop(['Profile Name','Attributes','Supplemental Video Type','Device Type','Bookmark','Latest Bookmark'], axis=1)
df.head()

,Start Time,Duration,Title,Country
0,2021-06-19 10:11:11,00:14:52,Park Jurajski: Obóz Kredowy: Sezon 2: Sztuka r...,PL (Poland)
1,2021-06-19 09:58:20,00:12:06,Alvinnn!!! I wiewiórki: Sezon 1: Ciasto / Kto ...,PL (Poland)
2,2021-06-19 09:48:32,00:08:27,Alvinnn!!! I wiewiórki: Sezon 2: Szalony weeke...,PL (Poland)
3,2021-06-19 09:19:38,00:26:54,Nasza planeta: Sezon 1: Dżungle (Odcinek 3),PL (Poland)
4,2021-06-18 21:16:25,00:21:07,Park Jurajski: Obóz Kredowy: Sezon 2: Nadajnik...,PL (Poland)